<launch>
  <param name="/use_sim_time" value="false" />
  <arg name="sim" default="true" />
  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="model" />
  <arg name="gui" default="true" />
  <param name="robot_description" textfile="$(find irb_120_4)/urdf/irb_120_4.urdf" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" clear_params="true" output="screen">
    <rosparam file="$(find irb_120_4)/config/my_robot_arbotix.yaml" command="load" />
    <param name="sim" value="$(arg sim)" />
    <param name="port" value="$(arg port)" />
  </node>
  <!-- Run a separate controller for the one sided gripper 
  <node name="right_gripper_controller" pkg="arbotix_controllers" type="gripper_controller" output="screen">
    <rosparam>
        model: singlesided
        invert: true
        center: 0.0
        pad_width: 0.004
        finger_length: 0.065
        min_opening: -0.8
        max_opening: 0.5
        joint: right_gripper_finger_joint
    </rosparam>
  </node>-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>
   
   
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find irb_120_4)/urdf.rviz" />
  <!-- Start all servos in a relaxed state 
  <node pkg="rbx2_dynamixels" type="arbotix_relax_all_servos.py" name="relax_all_servos" unless="$(arg sim)" />-->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" clear_params="true" unless="$(arg sim)">
    <rosparam command="load" file="$(find rbx2_dynamixels)/config/dynamixel_diagnostics.yaml" />
  </node>
  <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="rqt_robot_monitor" unless="$(arg sim)" />  
</launch>